<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CorvusM3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CorvusM3.Properties.Settings>
            <setting name="comPort" serializeAs="String">
                <value>COM7</value>
            </setting>
            <setting name="windowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="windowWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="binPath" serializeAs="String">
                <value>C:\Users\Thorsten\AppData\Local\Temp\build5476604910801276629.tmp</value>
            </setting>
        </CorvusM3.Properties.Settings>
    </userSettings>
</configuration>