<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="CorvusM3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<CorvusM3.Properties.Settings>
			<setting name="comPort" serializeAs="String">
				<value>COM1</value>
			</setting>
			<setting name="dropFrame" serializeAs="String">
				<value>0</value>
			</setting>
		</CorvusM3.Properties.Settings>
	</userSettings>
	<startup/></configuration>
